.feature__cards-item {
  width: 270px;
  height: 120px;
  margin-right: 30px;
}

.feature__cards-item:last-child {
  margin-right: 0;
}

.feature__cards-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.feature__cards-icon {
  fill: #212121;
}

.feature__cards-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.feature__list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.feature__section {
  background: #ffffff;
  padding-bottom: 0;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
}

.feature__item:not(:first-child) {
  margin-left: 30px;
}

.feature__pre-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature__text {
  width: 270px;
}
