.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.section__title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.section__title-second {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
  width: 322px;
}
.section__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.section__text-command {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.section__text-second {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  width: 322px;
}
